<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../base.css">
    <title>Miku UI | Image components</title>
</head>
<body>
    <div class="container center">
        <h2>Responsive Image</h2>
        <div class="responsive-image">
            <img src="../../Assets/fruit.jpeg"> 
        </div>
        <h2>Square Image</h2>
        <div class="square-image">
            <img src="../../Assets/fruit.jpeg" >
        </div>
        <h2>Round Image</h2>
        <div class="square-image round-image">
            <img src="../../Assets/fruit.jpeg" >
        </div>
    </div>
</body>
</html>