<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./accordian.css">
    <title>Miku UI | Accordians</title>
</head>
<body>      
    <div class="flex gap">
        <div>
            <div class="tabs">
                <div class="tab">
                    <input  type="checkbox" id="chk">
                    <label class="tab-label" for="chk">Code</label>
                    <div class="tab-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                    </div>
                </div>
            </div>
        </div>
            <div class="tabs">
                <div class="tab">
                    <input  type="checkbox" id="chk2">
                    <label class="tab-label" for="chk2">Code</label>
                    <div class="tab-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                    </div>
                </div>
            </div>
        </div>
            <div class="tabs">
                <div class="tab">
                    <input  type="checkbox" id="chk3">
                    <label class="tab-label" for="chk3">Code</label>
                    <div class="tab-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sequi odit modi, illum saepe labore exercitationem sed aliquid consectetur, itaque magnam necessitatibus dicta perferendis pariatur voluptatibus numquam? Nam, quo neque?
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</body>
<script src="accordian.js"></script>
</html>