<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../base.css" />
    <link rel="stylesheet" href="../../colors.css" />
    <title>Miku UI | Grid</title>
  </head>
  <body>
    <div class="grid gap center">
        <h1>Grid</h1>
        <h4>This is a simplified grid with two and three columns and rows support</h4>
        <h2>Grid 2 Columns</h2>
        <div class="grid gap-10 grid-cols-2">
            <div class="card-container center colors-success"><h1>Grid Item 1</h1></div>
            <div class="card-container center card-sq colors-warning"><h1>Grid Item 2</h1></div>
        </div>
        <h2>Grid 3 Columns</h2>
        <div class="grid gap-10 grid-cols-3">
            <div class="card-container center colors-success"><h1>Grid Item 1</h1></div>
            <div class="card-container center card-sq colors-warning"><h1>Grid Item 2</h1></div>
            <div class="card-container center card-sq colors-primary"><h1>Grid Item 3</h1></div>
        </div>
        <h2>Grid 2 Rows</h2>
        <div class="grid gap-10 grid-rows-2">
            <div class="card-container center colors-success"><h1>Grid Item 1</h1></div>
            <div class="card-container center card-sq colors-warning"><h1>Grid Item 2</h1></div>
        </div>
        <h2>Grid 3 Rows</h2>
        <div class="grid gap-10 grid-rows-3">
          <div class="card-container center colors-success"><h1>Grid Item 1</h1></div>
          <div class="card-container center card-sq colors-warning"><h1>Grid Item 2</h1></div>
          <div class="card-container center card-sq colors-primary"><h1>Grid Item 3</h1></div>
      </div>
    </div>
  </body>
</html>
