<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../base.css" />
    <link rel="stylesheet" href="../../colors.css" />
    <title>Miku UI | Card Component</title>
  </head>
  <body>
    <div class="container flex-row">
      <div class="container flex-row">
        <div class="card-container center gap card-long clickable">
          <h6 class="card-badge colors-warning">NEW</h6>
          <h4 class="colors-textDark card-text">Starter</h4>
          <h2 class="colors-textDark card-text">$99/mo</h2>
          <div class="flex center flex-col">
            <h5 class="card-text">1 Wordpress install</h5>
            <h5 class="card-text">Unlimited bandwidth</h5>
            <h5 class="card-text">Superfast SSD</h5>
          </div>
          <button class="button button-primary colors-textLight primary-shadow">
            Buy Now
          </button>
        </div>
      </div>
      <div class="container flex-row">
        <div class="card-container center gap-10 card-long clickable">
          <img class="card-img" src="../../Assets/avatar-2.png" alt="avatar" />
          <h3 class="colors-textDark card-text">Haily</h3>
          <div class="flex center flex-col">
            <p>This is a user profile card</p>
          </div>
        </div>
      </div>
      <div class="container flex-row">
        <div class="card-container center gap-10 card-long clickable">
          <h3 class="colors-textDark card-text">Haily</h3>
          <div class="flex center flex-col">
            <p>This is a user profile card</p>
          </div>
          <img class="card-img" src="../../Assets/avatar-2.png" alt="avatar" />
        </div>
      </div>
      <div class="container flex-row">
        <div class="card-container card-sq clickable">
          <h3 class="colors-textDark text-only">Text Only Card</h3>
          <p class="text-only">This is a text only card</p>
        </div>
      </div>
    </div>
    <div class="container flex-row">
      <div class="container flex-row">
        <div class="card-container-horizontal flex-row card-rec clickable">
          <img
            class="card-img-rec"
            src="../../Assets/avatar-2.png"
            alt="avatar"
          />
          <div class="flex flex-col gap-10 pd-10">
            <h3 class="colors-textDark card-text">Haily</h3>
            <p>This is a user profile card</p>
          </div>
        </div>
      </div>
      <div class="container flex-row">
        <div class="card-container-horizontal flex-row card-rec clickable">
          <img
            class="card-img-rec"
            src="../../Assets/avatar.png"
            alt="avatar"
          />
          <div class="flex flex-col pd-10">
            <h3 class="colors-textDark card-text">Pudgy Pengiun</h3>
            <button class="button button-Warning colors-textLight">Buy</button>
          </div>
        </div>
      </div>
      <div class="container flex-row">
        <div class="card-container card-sq clickable">
          <h6 class="card-badge colors-pink400">New Post</h6>
          <h3 class="colors-textDark text-only">Text Only Card</h3>
          <p class="text-only">
            This is a text only card, which has been layed horizontely
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
