<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../base.css">
    <title>Miku UI | input componets</title>
</head>
<body>
    <div class="container gap">
        <div>
            <input type="text" placeholder="Enter Name" class="input-box">
        </div>
        <div>
            <input type="text" placeholder="Enter Name" class="input-box input-disabled">
        </div>
        <div>
            <input type="text" placeholder="Enter Name" class="input-box input-error">
        </div>
        <div>
            <input type="text" placeholder="Enter Name" class="input-box input-success">
        </div>
        <div>
            <input type="text" placeholder="Enter Name" class="input-box input-warning">
        </div>
    </div>
</body>
</html>