<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF8" />
    <meta httpequiv="XUACompatible" content="IE=edge" />
    <meta name="viewport" content="width=devicewidth, initialscale=1.0" />
    <link rel="stylesheet" href="Avatar.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container gap">
      <div class="avatar avatar-rounded --xl">
        
          <img class="avatar-img avatar-rounded " src="/Assets/avatar.png" data-state="ready" />
        </span>
      </div>
      <div class="avatar-bg avatar-squared --sm">
        
          <span class="avatar-text">J</span>
        </span>
      </div>
      <div class="avatar --md ">
        
          <img class="avatar-img  avatar-squared" src="/Assets/avatar.png" data-state="ready" />
        </span>
      </div>
      <div class="avatar-bg avatar-squared --xl">
        
          <span class="avatar-text">Jun</span>
        </span>
      </div>
    </div>
  </body>
</html>
