@import url(../../base.css);
/* lists */

.listgroup {
  width: var(--space-40);
  padding: 0 var(--space-2);
  border-radius: var(--rounded-xl);
  background-color: var(--colors-gray200);
  color: var(--colors-text);
  box-shadow: var(--shadows-sm);
}

.listgroup > li {
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  padding: var(--space-4);
  border-bottom: 1px solid var(--colors-gray800);
}

.listgroup > li:last-child {
  border-bottom: none;
}

.listgroup > li:hover {
  background-color: var(--colors-gray100);
}

.notiflist {
  width: var(--space-80);
  /* padding: var(--space-12); */
  /* background-color: var(--colors-green100); */
  box-shadow: var(--shadows-sm);
  border-radius: var(--rounded-xl);
}

.notiflist > li {
  margin: 0 var(--space-12);
  padding: var(--space-10);
  list-style-type: none;
  border-bottom: 2px solid var(--colors-gray300);
}

.notiflist > li:last-child {
  border-bottom: none;
}

.notiflist > li:hover {
  background-color: var(--colors-gray100);
}

.notiflist > li > h6,
p {
  padding: var(--space-2) 0;
  margin: 0;
}
