<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../base.css">

    <title>Miku UI | List Components</title>


</head>
<body>
    <div class="container gap">
        <div class="container  gap-10">
            <ui class="listgroup">
                <li>Settings</li>
                <li>Profile</li>
                <li>Dashboard</li>
                <li>Signout</li>
            </ui>
        </div>
        <div class="container  gap-10">
            <ui class="notiflist">
                <li><h6>John</h6> This is a notification</li>
                <li><h6>John</h6> This is a notification</li>
                <li><h6>John</h6> This is a notification</li>
                <li><h6>John</h6> This is a notification</li>
            </ui>
        </div>
    </div>
</body>
</html>