<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../base.css" />
    <link rel="stylesheet" href="../../colors.css" />
    <title>Miku UI | Card Component</title>
  </head>
  <body class="container gap-10">
    <div class="container flex-row flex-wrap gap-10">
      <div
        class="card-container card-color colors-blue100 container center clickable colors-textDark bold"
      >
        blue 100
      </div>
      <div
        class="card-container card-color colors-blue200 container center clickable colors-textDark bold"
      >
        Blue 200
      </div>
      <div
        class="card-container card-color colors-blue300 container center clickable colors-textDark bold"
      >
        Blue 300
      </div>
      <div
        class="card-container card-color colors-blue400 container center clickable colors-textDark bold"
      >
        Blue 400
      </div>
      <div
        class="card-container card-color colors-blue500 container center clickable colors-textLight bold"
      >
        Blue 500
      </div>
      <div
        class="card-container card-color colors-blue600 container center clickable colors-textLight bold"
      >
        Blue 600
      </div>
      <div
        class="card-container card-color colors-blue700 container center clickable colors-textLight bold"
      >
        Blue 700
      </div>
      <div
        class="card-container card-color colors-blue800 container center clickable colors-textLight bold"
      >
        Blue 800
      </div>
      <div
        class="card-container card-color colors-blue900 container center clickable colors-textLight bold"
      >
        Blue 900
      </div>
    </div>
    <div class="container flex-row flex-wrap gap-10">
      <div
        class="card-container card-color colors-purple100 container center clickable colors-textDark bold"
      >
        purple 100
      </div>
      <div
        class="card-container card-color colors-purple200 container center clickable colors-textDark bold"
      >
        purple 200
      </div>
      <div
        class="card-container card-color colors-purple300 container center clickable colors-textDark bold"
      >
        purple 300
      </div>
      <div
        class="card-container card-color colors-purple400 container center clickable colors-textDark bold"
      >
        purple 400
      </div>
      <div
        class="card-container card-color colors-purple500 container center clickable colors-textLight bold"
      >
        purple 500
      </div>
      <div
        class="card-container card-color colors-purple600 container center clickable colors-textLight bold"
      >
        purple 600
      </div>
      <div
        class="card-container card-color colors-purple700 container center clickable colors-textLight bold"
      >
        purple 700
      </div>
      <div
        class="card-container card-color colors-purple800 container center clickable colors-textLight bold"
      >
        purple 800
      </div>
      <div
        class="card-container card-color colors-purple900 container center clickable colors-textLight bold"
      >
        purple 900
      </div>
    </div>
    <div class="container flex-row flex-wrap gap-10">
      <div
        class="card-container card-color colors-green100 container center clickable colors-textDark bold"
      >
        green 100
      </div>
      <div
        class="card-container card-color colors-green200 container center clickable colors-textDark bold"
      >
        green 200
      </div>
      <div
        class="card-container card-color colors-green300 container center clickable colors-textDark bold"
      >
        green 300
      </div>
      <div
        class="card-container card-color colors-green400 container center clickable colors-textDark bold"
      >
        green 400
      </div>
      <div
        class="card-container card-color colors-green500 container center clickable colors-textLight bold"
      >
        green 500
      </div>
      <div
        class="card-container card-color colors-green600 container center clickable colors-textLight bold"
      >
        green 600
      </div>
      <div
        class="card-container card-color colors-green700 container center clickable colors-textLight bold"
      >
        green 700
      </div>
      <div
        class="card-container card-color colors-green800 container center clickable colors-textLight bold"
      >
        green 800
      </div>
      <div
        class="card-container card-color colors-green900 container center clickable colors-textLight bold"
      >
        green 900
      </div>
    </div>
    <div class="container flex-row flex-wrap gap-10">
      <div
        class="card-container card-color colors-yellow100 container center clickable colors-textDark bold"
      >
        yellow 100
      </div>
      <div
        class="card-container card-color colors-yellow200 container center clickable colors-textDark bold"
      >
        yellow 200
      </div>
      <div
        class="card-container card-color colors-yellow300 container center clickable colors-textDark bold"
      >
        yellow 300
      </div>
      <div
        class="card-container card-color colors-yellow400 container center clickable colors-textDark bold"
      >
        yellow 400
      </div>
      <div
        class="card-container card-color colors-yellow500 container center clickable colors-textLight bold"
      >
        yellow 500
      </div>
      <div
        class="card-container card-color colors-yellow600 container center clickable colors-textLight bold"
      >
        yellow 600
      </div>
      <div
        class="card-container card-color colors-yellow700 container center clickable colors-textLight bold"
      >
        yellow 700
      </div>
      <div
        class="card-container card-color colors-yellow800 container center clickable colors-textLight bold"
      >
        yellow 800
      </div>
      <div
        class="card-container card-color colors-yellow900 container center clickable colors-textLight bold"
      >
        yellow 900
      </div>
    </div>
    <div class="container flex-row flex-wrap gap-10">
      <div
        class="card-container card-color colors-red100 container center clickable colors-textDark bold"
      >
        red 100
      </div>
      <div
        class="card-container card-color colors-red200 container center clickable colors-textDark bold"
      >
        red 200
      </div>
      <div
        class="card-container card-color colors-red300 container center clickable colors-textDark bold"
      >
        red 300
      </div>
      <div
        class="card-container card-color colors-red400 container center clickable colors-textDark bold"
      >
        red 400
      </div>
      <div
        class="card-container card-color colors-red500 container center clickable colors-textLight bold"
      >
        red 500
      </div>
      <div
        class="card-container card-color colors-red600 container center clickable colors-textLight bold"
      >
        red 600
      </div>
      <div
        class="card-container card-color colors-red700 container center clickable colors-textLight bold"
      >
        red 700
      </div>
      <div
        class="card-container card-color colors-red800 container center clickable colors-textLight bold"
      >
        red 800
      </div>
      <div
        class="card-container card-color colors-red900 container center clickable colors-textLight bold"
      >
        red 900
      </div>
    </div>
    <div class="container flex-row flex-wrap gap-10">
      <div
        class="card-container card-color colors-cyan100 container center clickable colors-textDark bold"
      >
        cyan 100
      </div>
      <div
        class="card-container card-color colors-cyan200 container center clickable colors-textDark bold"
      >
        cyan 200
      </div>
      <div
        class="card-container card-color colors-cyan300 container center clickable colors-textDark bold"
      >
        cyan 300
      </div>
      <div
        class="card-container card-color colors-cyan400 container center clickable colors-textDark bold"
      >
        cyan 400
      </div>
      <div
        class="card-container card-color colors-cyan500 container center clickable colors-textDark bold"
      >
        cyan 500
      </div>
      <div
        class="card-container card-color colors-cyan600 container center clickable colors-textDark bold"
      >
        cyan 600
      </div>
      <div
        class="card-container card-color colors-cyan700 container center clickable colors-textLight bold"
      >
        cyan 700
      </div>
      <div
        class="card-container card-color colors-cyan800 container center clickable colors-textLight bold"
      >
        cyan 800
      </div>
      <div
        class="card-container card-color colors-cyan900 container center clickable colors-textLight bold"
      >
        cyan 900
      </div>
    </div>
    <div class="container flex-row flex-wrap gap-10">
      <div
        class="card-container card-color colors-pink100 container center clickable colors-textDark bold"
      >
        pink 100
      </div>
      <div
        class="card-container card-color colors-pink200 container center clickable colors-textDark bold"
      >
        pink 200
      </div>
      <div
        class="card-container card-color colors-pink300 container center clickable colors-textDark bold"
      >
        pink 300
      </div>
      <div
        class="card-container card-color colors-pink400 container center clickable colors-textDark bold"
      >
        pink 400
      </div>
      <div
        class="card-container card-color colors-pink500 container center clickable colors-textLight bold"
      >
        pink 500
      </div>
      <div
        class="card-container card-color colors-pink600 container center clickable colors-textLight bold"
      >
        pink 600
      </div>
      <div
        class="card-container card-color colors-pink700 container center clickable colors-textLight bold"
      >
        pink 700
      </div>
      <div
        class="card-container card-color colors-pink800 container center clickable colors-textLight bold"
      >
        pink 800
      </div>
      <div
        class="card-container card-color colors-pink900 container center clickable colors-textLight bold"
      >
        pink 900
      </div>
    </div>
    <div class="container flex-row flex-wrap gap-10">
      <div
        class="card-container card-color colors-gray100 container center clickable colors-textDark bold"
      >
        gray 100
      </div>
      <div
        class="card-container card-color colors-gray200 container center clickable colors-textDark bold"
      >
        gray 200
      </div>
      <div
        class="card-container card-color colors-gray300 container center clickable colors-textDark bold"
      >
        gray 300
      </div>
      <div
        class="card-container card-color colors-gray400 container center clickable colors-textDark bold"
      >
        gray 400
      </div>
      <div
        class="card-container card-color colors-gray500 container center clickable colors-textLight bold"
      >
        gray 500
      </div>
      <div
        class="card-container card-color colors-gray600 container center clickable colors-textLight bold"
      >
        gray 600
      </div>
      <div
        class="card-container card-color colors-gray700 container center clickable colors-textLight bold"
      >
        gray 700
      </div>
      <div
        class="card-container card-color colors-gray800 container center clickable colors-textLight bold"
      >
        gray 800
      </div>
      <div
        class="card-container card-color colors-gray900 container center clickable colors-textLight bold"
      >
        gray 900
      </div>
    </div>
  </body>
</html>
