<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../colors.css">
    <link rel="stylesheet" href="../../base.css">
    <title>Miku UI | Modals</title>
</head>
<body>
    <div class="grid center gap  ">
        <h1>Modals</h1>
        <h5>These are the simple popup modals</h5>
        <div >
            <div class="card-container center gap primary-shadow card-modal">
                <h6 class="card-badge ">X</h6>
                <h3 class="colors-textDark card-text">Subscribe Now</h3>
                <p>Subscribe to the best newsletter in town.</p>
                <div class="flex flex-col gap-10">
                    <input type="text" placeholder="Enter Email" class="input-box">
                    <input type="text" placeholder="Enter Name" class="input-box">

                    <button class="button primary-outline colors-textLight primary-shadow">
                      Sign in
                    </button>
                </div>
            </div>
        </div>
        <div >
            <div class="card-container center gap card-long clickable">
              <h6 class="card-badge ">X</h6>
              <h2 class="colors-textDark card-text">Access your Account</h2>

              <button class="button button-primary colors-textLight primary-shadow">
                Sign in
              </button>
              <button class="button button-primary colors-textLight primary-shadow">
                Signout
              </button>
            </div>
          </div>
    </div>
</body>
</html>