<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../base.css" />
    <title>Miku UI | text Utilities</title>
  </head>
  <body>
    <h1>Text</h1>
    <p>
      Text component is the used to render text and paragraphs within an
      interface using well-defined typographic styles. It renders a
    </p>
    <p>tag by default.</p>
    <div class="container">
      <h3>Headings</h3>
      <p>
        Headings h1..h6 are titles or subtitles that you want to display on a
        webpage.
      </p>
      <div>
        <h1>Almost before we knew it, we had left the ground.</h1>
        <h2>Almost before we knew it, we had left the ground.</h2>
        <h3>Almost before we knew it, we had left the ground.</h3>
        <h4>Almost before we knew it, we had left the ground.</h4>
        <h5>Almost before we knew it, we had left the ground.</h5>
        <h6>Almost before we knew it, we had left the ground.</h6>
      </div>
    </div>
    <div class="container">
      <h3>Paragraph</h3>
      <p>The Text component renders a paragraph by default.</p>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus
          viverra accumsan in nisl nisi scelerisque eu. Commodo elit at
          imperdiet dui accumsan sit amet nulla facilisi. Vestibulum mattis
          ullamcorper velit sed ullamcorper morbi tincidunt ornare massa.
          Gravida quis blandit turpis cursus in.
        </p>
        <p class="bold">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus
          viverra accumsan in nisl nisi scelerisque eu. Commodo elit at
          imperdiet dui accumsan sit amet nulla facilisi. Vestibulum mattis
          ullamcorper velit sed ullamcorper morbi tincidunt ornare massa.
          Gravida quis blandit turpis cursus in.
        </p>
      </div>
    </div>
    <div class="container">
      <h3>Sizes</h3>
      <p>With this you can change the font size of the text property.</p>
      <p class="fs-sm">Font Size: 0.75rem;</p>
      <p class="fs-md">Font Size: 0.875rem;</p>
      <p>Font Size: 1rem;</p>
      <p class="fs-lg">Font Size: 1.5rem;</p>
      <p class="fs-xl">Font Size: 2.25rem;</p>
    </div>
  </body>
</html>
