<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../base.css" />
    <title>Miku UI | Alert Components</title>
  </head>
  <body class="container center">
    <div class="container">
      <h1>Alerts</h1>
      <p>
        Alerts are used to attract user's attention for important information
        without interrupting the user's flow.
      </p>
    </div>
    <div class="container gap-10">
      <div class="alert alert-primary fs-lg">Alert</div>
      <div class="alert alert-secondary fs-md">Secondary</div>
      <div class="alert alert-success fs-lg bold">Success</div>
      <div class="alert alert-warning bold">Warning</div>
      <div class="alert alert-error bold">Error</div>
    </div>
  </body>
</html>
